
body{
    color: seashell;
    background-color: black;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
   
    
    
}


header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    background-color: black;
    
}
.tc{
    margin: 10px 10px 10px 10px;
    height: 50px;
    align-content: center;
    
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
       li{
        margin-left: 40px;
        
       }
    a:link {
        color: seashell; /* Default color for unvisited links */
    }
    
     a:visited {
        color: gray; /* Color for visited links */
    }
    
     a:hover {
        color: aliceblue; /* Color when hovering over a link */
    }
    
     
    
}


.links{
    font-size: 20px;
    display: flex;
    
    margin-left: 800px;
    margin-bottom: 100px;
    margin-top: -55px;
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    position: absolute;
    }
 .bbox{
     background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1ws614r*_ga*MTkyOTM1MDczNy4xNjQ4NjU0ODE2*_ga_3LRZM6TM9L*MTY1MjY3MzcxMy40OC4xLjE2NTI2NzQ4NzUuNTg.);
     background-repeat: no-repeat;
     background-position: center;
     
     height: 700px;
     width: 1200px;
     margin: 40px auto 40px auto;
     display: flex;
 }
  .our{
     height: fit-content;
     width: 1200px;
     background-color: black;
     margin:auto;
     opacity: .75;
      h2{
        font-size: 3.5rem;
      }
     
    
 }
 .hand {
     font-family: patrick hand, cursive;
     font-size: 1.85rem;
     white-space: pre-wrap;
     text-align: center;
     padding: 0 0 20px 0;
      
 }
 h2{
     text-align: center;
     font-size: 35px;
 }
 .month{
     padding-top: 150px;
     display:flex;
     justify-content: center;
     /*border: solid seashell 3px;*/
    
    h3{
        font-size: 25px;
        text-align: center;
        margin-top: 0px;
        font-family: "patrick hand", cursive;;
     }  
 }
 
 h1{
    font-size: 3.5rem;
    text-align: center;
    
}
 
 
 
 
 
 
 
 .tea{
    font-family: "patrick hand", cursive;
    width: 80%;
    max-height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
   /* align-content: center;*/
    margin-left: 0;
    margin-top: 25px;
    column-gap:60px;
   /* border: solid seashell 3px;*/
    
 }
 .cup{
    display: none;
 }

 
  .tea-type img{
     height: 200px;
     width: 300px;
     
     
 }
 
 .location-box{
    margin-top: 150px;
 }

 #locations {
     padding-top: 50px;
     h1{
     font-size: 3.5rem;
     }
     }
 .lbox{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*80ffvx*_ga*MTkyOTM1MDczNy4xNjQ4NjU0ODE2*_ga_3LRZM6TM9L*MTY1MjgwMzIxMy41NC4xLjE2NTI4MDMyMTUuNTg.);
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 400px;
    margin: 0 0 0 8%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
 }
    .tbox{
    display: inline-block;
    height: 220px;
    width: 300px;
    background-color: black;
    opacity: .8;
    text-align: center;
     h3{
        margin-top: 40px;
        font-size: 2rem;
     }
     h4{
        margin: 0;
     }
}
.contact{
    text-align: center;
    margin-top: 150px;
    h1{
        font-size: 4rem;
        font-family: "Seaweed Script", cursive;
    }
    h4{
        font-size: 1.5rem;
        
    }
}

footer{
    margin-top: 100px;
    border-top: solid white 1px;
    text-align: left;
    height: 60px;
     p{
        display: inline-block;
        margin-left: 10px;
        margin-top: 18px;
        font-size: 15px;
        color: white;
        font-family: 'Courier New', Courier, monospace;

     }
}
@media (max-width: 480px) and (orientation:portrait) {
    
    body{
        display: block;
        
        
    }
   header{
    width: 100%; 
    height: 100px;
    border-bottom: hidden;
   
   }
   nav{
    display: none;
   }
   .tc{
    height: 75px;
    margin: 25px 0 0 0;
   }
   .month{
    display:block;
    width: 100%;
   }
   .tea{
    border-top: solid seashell 3px;
    width: 1000px;
    display:block;
    margin: -80% 25% 25% 25%;
    h1 {
        font-size: 6rem;
        text-align: center;
    }
    h3{
        font-size: 3.5rem;
    }
}
   .tea-type img{
    width: 100%;
    height: auto;
   }
   .bbox{
    background-image: none;
    margin: 25% auto 25% auto;
    height: 700px;
    width: 1200px;
    display: block;
    color: seashell;
    
}
.our{
    opacity: unset;
}
.our h2 {
    font-size: 6rem;
}
.hand{
    font-size: 3.8rem;
}
.location-box{
    margin: 0 0 -100px 400px;
    padding-top: 50px;
    h1{
    font-size: 6rem !important;
    }
 }

 

.lbox{
    display: block;
    width: 1000px;
    height: 700px;
    margin: 50% 0 100% 25%;
    background-image: none;
    color: seashell;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
.tbox{
    display: block;
    width: 100%;
    height: 220px;
    background-color: black;
    opacity: unset;
    text-align: center;
    margin: 30px 0 0 0;
    color: seashell;
    

   
}
.tbox h3{
    line-height: -1;
    margin: 20px 0 -20px 0;
    font-size: 4rem;
    font-family: "patrick hand", cursive;

}
.address{
   
    font-size: 3rem;
    margin: 10px 0 0 0 ;
    line-height: 0;
}
.contact{
    
    text-align: center;
    margin: 150px 0 0 25%;
    width: 1000px;
}
    .contact h1{
        font-size: 5rem;
        font-family: "Seaweed Script", cursive;
    }
   .contact h4{
        font-size: 2.5rem;
        
    }
    footer{
        
        margin-top: 300px;
        border-top: hidden;
        text-align: left;
        height: 50px;
         p{
            
            margin-left: 10px;
            margin-top: 18px;
            font-size: 15px;
            color: white;
            font-family: 'Courier New', Courier, monospace;
    
         }
    }

}
@media (max-width: 770px) and (orientation:landscape){

    body{
        display: block;


    }
   header{
    width: 100%;
    height: 100px;
    border-bottom: hidden;

   }
   nav{
    display: none;
   }
   .tc{
    height: 75px;
    margin: 25px 0 0 0;
   }
   .bbox{
    background-image: none;
    margin: 25% auto 25% auto;
    height: 700px;
    width: 1200px;
    display: block;
    color: seashell;
    

}
.bbox h2{
    font-size: 6rem;
    
   
}
.our{
    opacity: unset;
   
}
.bbox .hand{
    font-size: 3rem;
    
}
   
    .month {
        display: flex;
        width: 100%;
        justify-content: center;
}
.tea{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: 100%;
    margin-left: 50%;
}

.tea-type{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0;
    column-gap: 30px;
    
}
.tea-type h1{
    font-size: 3rem;
    margin: 0 0 30px 0;
}
.tea-type h3{
    font-size: 2rem;
    margin: 0;
}

 
 
}



   

 
 
    
 


