
body{
    color: seashell;
}
main {
    background-color: black;
    width:100%;
    
   
   
    
    
   
   
}

header{
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position:static;
    background-color: black;
}
.tc{
    margin: 10px;
    height: 50px;
    align-content: center;
    
}
.mission{
    color: white;
    position: static;
    Border: 1px solid black;
    border-radius: 1px;
    width: 85px;
    height: 20px;
    padding: 1px;
    text-align: center;
    background-color: black;
}
.featured{
    position: static;
    Border: 1px solid black;
    border-radius: 1px;
    width: 150px;
    height: 20px;
    padding: 1px;
    text-align: center;
    background-color: black;
}
.locations{
    position: static;
    Border: 1px solid black;
    border-radius: 1px;
    width: 100px;
    height: 20px;
    padding: 1px;
    text-align: center;
    background-color: black;
}

a:hover{
    color:blue;
}
a:before{
    color: seashell;
}
a:after{
    color: gray;
}


.links{
    font-size: 20px;
    display: flex;
    
    margin-left: 800px;
    margin-bottom: 100px;
    margin-top: -55px;
    cursor: pointer;
    text-decoration: underline;
    list-style: none;
    position: absolute;
    }
 .bbox{
     background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1ws614r*_ga*MTkyOTM1MDczNy4xNjQ4NjU0ODE2*_ga_3LRZM6TM9L*MTY1MjY3MzcxMy40OC4xLjE2NTI2NzQ4NzUuNTg.);
     background-repeat: no-repeat;
     background-position: center;
     
     height: 700px;
     width: 1200px;
     margin: 40px auto 40px auto;
     display: flex;
 }
  .our{
     height: fit-content;
     width: 1200px;
     background-color: black;
     margin:auto;
     opacity: .75;
      h2{
        font-size: 3.5rem;
      }
     
    
 }
 .hand {
     font-family: patrick hand, cursive;
     font-size: 1.85rem;
     white-space: pre-wrap;
     text-align: center;
     padding: 0 0 20px 0;
      
 }
 h2{
     text-align: center;
     font-size: 35px;
 }
 .month{
     padding-top: 150px;
    display: block;
    justify-content: center;

 }
 h1{
     font-size: 35px;
     text-align: center;
     
 }
 
 h3{
    font-size: 25px;
    text-align: center;
    margin-top: 0px;
 }  
 
 
 
 
 .tea{
    font-family: patrick hand, cursive;
    width: 1000px;
    max-height: auto;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    margin-left: 15%;
    margin-top: 25px;
    column-gap:40px;
    
 }

 
  .tea-type img{
     height: 200px;
     width: 300px;
     gap: 10px;
     
 }
 
 .location-box{
    margin-top: 150px;
 }

 #locations{
     padding-top: 50px;
 }
 .lbox{
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*80ffvx*_ga*MTkyOTM1MDczNy4xNjQ4NjU0ODE2*_ga_3LRZM6TM9L*MTY1MjgwMzIxMy41NC4xLjE2NTI4MDMyMTUuNTg.);
    background-repeat: no-repeat;
    background-position: center;
    width: 1200px;
    height: 400px;
    display:flex;
    margin-left: 8%;
    justify-content: center;
    align-items: center;
    gap: 60px;
    
 }
    .tbox{
    display: inline-block;
    height: 220px;
    width: 300px;
    background-color: black;
    opacity: .8;
    text-align: center;
}
.contact{
    text-align: center;
}

footer{
    margin-top: 100px;
    border-top: solid white 1px;
    text-align: left;
    height: 60px;
     p{
        display: inline-block;
        margin-left: 10px;
        margin-top: 18px;
        font-size: 15px;
        color: white;
        font-family: 'Courier New', Courier, monospace;

     }
}

   
   

 
 
    
 


